:root {
    --c1: white;
    --c2: red;
    --c3: #DDDddD;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--c1);
    font-family: 'Open Sans', sans-serif;
}
.inline-block-list li {
	margin-left: -4px;
}
.container {
    width: 800px;
    margin: auto;
    position: relative;
    background-color: var(--c3);
}
.verticalBand1 {
    background-color: var(--c2);
    height: 500px;
    width: 250px;
    display: inline-block;

}
.verticalBand2 {
    background-color: yellow;
    height: 500px;
    width: 500px;
    display: inline-block;
}
.name {
    background-color: var(--c1);
    width: 800px;
    position: absolute;
    top: 70px;
    left: 0px;
    font-size: 3em;
    padding: 5px 0px;
}