:root {
  --color-1: #011501;
  --color-2: #0F4C0F;
  --color-3: #2F872F;
  --color-4: #6BC86B;
  --color-5: #AAF0AA;

  --fontSize: 64px;

  --body-background: var(--color-4);
  --body-font: var(--color-1);
  --input-background: var(--color-5);
}
html {
  font-size: var(--fontSize);
  text-align: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,Neue,sans-serif;
  color: var(--color-h1);
  margin: auto 50px;
  padding: 0px;

  color: var(--body-font);
  background-color: var(--body-background);
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
input, label {display: block;}
input {
  width: 70%;
  margin: 30px auto;
  font-size: var(--fontSize);
}
input[type=text] {
  background-color: var(--input-background);
  padding: 30px;
  border-bottom-left-radius: 2px;
}
input ::placeholder {
  color: var(--color-2);
}

/* --- AUDIO PLAYER --------------------------------------- */
#audioplayer{
  width: 480px;
  height: 60px;
  margin: 50px auto auto auto;
  border: solid;
}
#pButton{
  height:60px; 
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
}
.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}
#timeline{
  width: 400px;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  background: rgba(0,0,0,.3);
}
#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0,1);
}

/* --- AUDIO PLAYER --------------------------------------- */



.stage {
  /* visibility: hidden; */
  display: none;
}
#test {
  font-family: Italianno;
  font-size: 3rem;
  line-height: 2rem;
  visibility: hidden;
}
#screenSize {
  background-color: black;
  color: grey;
  margin: 0px -50px 0px -50px;
}
#screenSize {display: none;}
#screenSize p {
  margin: 0px;
}